@page
@model MyEMShop.EndPoint.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "صفحه اصلی ";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">پنل ادمین به دخت</h1>
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-blue-gradient">
                        <div class="inner">
                            <h3>@ViewData["NewOrder"].ToString()</h3>

                            <p><strong>سفارش جدید</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow-gradient">
                        <div class="inner">
                            <h3>@ViewData["TotalUsers"].ToString()</h3>

                            <p><strong>کاربران ثبت شده</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-teal-gradient">
                        <div class="inner">
                            <h3>@ViewData["MonthVisits"].ToString()</h3>

                            <p><strong>بازدید ماهانه</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-eye-outline"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-maroon-gradient">
                        <div class="inner">
                            <h3>@ViewData["MonthVisitors"].ToString()</h3>

                            <p><strong>بازدید کنندگان ماه</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-eye-outline"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-purple-gradient">
                        <div class="inner">
                            <h3>@ViewData["TodayVisits"].ToString()</h3>

                            <p><strong>بازدید امروز</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green-gradient">
                        <div class="inner">
                            <h3>@ViewData["TotalVisits"].ToString()</h3>

                            <p><strong>بازدید کل</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-eye-outline"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua-gradient">
                        <div class="inner">
                            <h3>@ViewData["TodayVisitors"].ToString()</h3>

                            <p><strong>بازدید کنندگان امروز</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-eye-outline"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red-gradient">
                        <div class="inner">
                            <h3>@ViewData["TotalVisitors"].ToString()</h3>

                            <p><strong>کل بازدید کنندگان</strong></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-eye-outline"></i>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <hr />
            <div class="table-responsive ">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>آی پی</th>
                            <th>مرورگر</th>
                            <th>نوع بازدید</th>
                            <th>سیستم عامل</th>
                            <th>لینک کنونی</th>
                            <th>لینک قبل</th>
                            <th>تاریخ بازدید</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Top10)
                        {
                            <tr>
                                <td>@item.Ip</td>
                                <td>
                                    @if (item.Browser.Contains("Chrome"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/Google-chrome-icon.png" />
                                    }
                                    else if (item.Browser.Contains("Firefox"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/firefox-icon.png" />
                                    }
                                    else if (item.Browser.Contains("Edge"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/Edge-icon.png" />
                                    }
                                    else if (item.Browser.Contains("Safari"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/safari-logo.png" />
                                    }
                                    else if (item.Browser.Contains("Opera"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/opera icon.png" />
                                    }
                                    else
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/iphone-icon.png" />
                                    }
                                </td>
                                <td>
                                    @if (item.IsSpider)
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/spider-icon.png" />
                                    }
                                    else
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/Human Icon.png" />
                                    }
                                </td>
                                <td>
                                    @if (item.OperationSystem.Contains("Windows"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/windows-icon.png" />
                                    }
                                    else if (item.OperationSystem.Contains("Linux"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/linux icon.png" />
                                    }
                                    else if (item.OperationSystem.Contains("Android"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/Android.png" />
                                    }
                                    else if (item.OperationSystem.Contains("Windows Phone"))
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/Windows-Logo-PNG.png" />
                                    }
                                    else
                                    {
                                        <img height="30" width="30" src="/BrowserIcon/mac os.png" />
                                    }
                                </td>
                                <td>@item.CurrentLink</td>
                                <td>@item.ReferrerLink</td>
                                <td>@item.Time.ToShamsi()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
