@using MyEMShop.Data.Dtos.OrderState
@using MyEMShop.Data.Entities.Order
@model Tuple<List<Order>, int>
@{
    ViewData["Title"] = "فاکتور های من";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/UserPannel/Order">فاکتور های من</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">مشاهده ی فاکتور ها</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">کد فاکتور</td>
                                <td class="text-left">تاریخ فاکتور</td>
                                <td class="text-left">جمع</td>
                                <td class="text-right">وضعیت پرداخت</td>
                                <td class="text-right">وضعیت سفارش</td>
                                <td class="text-right">عملیات</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                <tr>
                                    <td class="text-center text-warning">@item.OrderId</td>
                                    <td class="text-left text-info">
                                        @item.OrderDate.ToShamsi()
                                    </td>
                                    <td class="text-left">
                                        <strong class="text-success">@item.OrderSum.ToString("N0")</strong> تومان
                                    </td>
                                    <td class="text-right">
                                        @if (item.IsFinally)
                                        {
                                            <p class="text text-success">پرداخت شده</p>
                                        }
                                        else
                                        {
                                            <p class="text text-danger">پرداخت نشده</p>
                                        }

                                    </td>
                                    <td>
                                        @switch (item.OrderState)
                                        {
                                            case OrderState.IsProgress:
                                                {
                                                    <div class="alert-warning">در حال آماده سازی</div>
                                                    break;
                                                }
                                            case OrderState.IsCanceled:
                                                {
                                                    <div class="alert-danger">لغو شده</div>
                                                    break;
                                                }
                                            case OrderState.IsReady:
                                                {
                                                    <div class="alert-info">آماده ارسال</div>
                                                    break;
                                                }
                                            case OrderState.IsSend:
                                                {
                                                    <div class="alert-success">ارسال شده</div>
                                                    break;
                                                }
                                        }
                                    </td>
                                    <td class="text-right">
                                        <a asp-area="UserPannel" asp-controller="Order" asp-action="ShowOrder" asp-route-id="@item.OrderId" class="btn btn-primary"> نمایش فاکتور</a>
                                        @if (item.IsFinally)
                                        {
                                            <a disabled class="btn btn-info"> حذف فاکتور</a>
                                        }
                                        else
                                        {
                                            <a asp-area="UserPannel" asp-controller="Order" asp-action="DeleteOrder" asp-route-orderId="@item.OrderId" class="btn btn-info"> حذف فاکتور</a>
                                        }
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <partial name="_SideBar" />
            <!--Right Part End -->
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                @for (int i = 1; i <= (Model.Item2 +1) ; i++)
                {
                    <li class="@((ViewBag.pageid == i)?"active": "")"><a href="/UserPannel/Order/Index?pageId=@i">@i<span class="sr-only">(current)</span></a></li>
                }
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>