@model MyEMShop.Data.Entities.Order.Order
@inject MyEMShop.Application.Interfaces.IUserPannelService _UserPannelService
@{
    ViewData["Title"] = "مشاهده ی فاکتور";
    //var discount = ViewBag.discount;
    int SumOrder = Model.OrderSum;
    //int Percent = (Model.OrderSum * discount.DiscountPercent) / 100;
    string TypeDiscount = ViewBag.TypeDiscount;
}


<div id="container">
    <div class="container">

        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="cart.html">سبد خرید</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                @if (ViewBag.final == true)
                {
                    <div class="alert alert-success">
                        <i class="fa fa-exclamation-circle">

                        </i><strong>فاکتور با موفقیت پرداخت گردید</strong>
                    </div>
                }
                <h1 class="title">سبد خرید</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">تصویر</td>
                                <td class="text-left">نام محصول</td>
                                <td class="text-left">تعداد</td>
                                <td class="text-right">قیمت واحد</td>
                                <td class="text-right">کل</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr>
                                    <td class="text-center"><a href="product.html"><img src="/Template/image/Product/MiniPic/@item.Product.MainImageProduct" alt="@item.Product.ProductTitle" title="@item.Product.ProductTitle" class="img-thumbnail"></a></td>
                                    <td class="text-left">
                                        <a href="/ShowProduct/@item.Product">@item.Product.ProductTitle</a><br>
                                    </td>
                                    <td class="text-left">
                                        <div class="input-group btn-block quantity">
                                            <input type="text" name="quantity" id="count" value="@item.Count" size="1" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="tooltip" title="" id="btnRefresh"  class="btn btn-primary" data-original-title="بروزرسانی"><i class="fa fa-refresh"></i></button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="" data-original-title="حذف"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td id="price" class="text-right">@item.Price</td>
                                    <td id="total" class="text-right">@((item.Count * item.Price).ToString("N0"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (!Model.IsFinally)
                {
                    <h2 class="subtitle">حالا مایلید چه کاری انجام دهید؟</h2>
                    <p>در صورتی که کد تخفیف در اختیار دارید میتوانید از آن در اینجا استفاده کنید.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">استفاده از کوپن تخفیف</h4>
                                </div>
                                <div id="collapse-coupon" class="panel-collapse collapse in">
                                    <form method="post" action="/UserPannel/Order/UseDiscount/@Model.OrderId">
                                        <input type="hidden" name="orderId" value="@Model.OrderId" />
                                        <div class="panel-body">
                                            <label class="col-sm-4 control-label" for="input-coupon">کد تخفیف خود را در اینجا وارد کنید</label>
                                            <div class="input-group">
                                                <input type="text" name="code" value="" placeholder="کد تخفیف خود را در اینجا وارد کنید" id="input-coupon" class="form-control">
                                                <span class="input-group-btn">
                                                    <input type="submit" value="اعمال کد تخفیف" id="button-coupon" data-loading-text="بارگذاری ..." class="btn btn-primary">
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                    @if (TypeDiscount is not null)
                                    {
                                        switch (TypeDiscount)
                                        {
                                            case "Success":
                                                {
                                                    <div class="alert alert-success">
                                                        <p class="text-muted">کد تخفیف با موفقیت اعمال شد</p>
                                                    </div>
                                                    break;
                                                }
                                            case "ExpireDate":
                                                {
                                                    <div class="alert alert-warning">
                                                        <p class="text-muted">این کد منقضی شده است</p>
                                                    </div>
                                                    break;
                                                }
                                            case "NotFound":
                                                {
                                                    <div class="alert alert-danger">
                                                        <p class="text-muted">کد معتبر نیست</p>
                                                    </div>
                                                    break;
                                                }
                                            case "Finished":
                                                {
                                                    <div class="alert alert-info">
                                                        <p class="text-muted">کد به اتمام رسیده است</p>
                                                    </div>
                                                    break;
                                                }
                                            case "UserUsed":
                                                {
                                                    <div class="alert alert-danger">
                                                        <p class="text-muted">شما قبلا از این کد استفاده کرده اید</p>
                                                    </div>
                                                    break;
                                                }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">استفاده از کارت هدیه</h4>
                                </div>
                                <div id="collapse-voucher" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <label class="col-sm-4 control-label" for="input-voucher">کد کارت هدیه را در اینجا وارد کنید</label>
                                        <div class="input-group">
                                            <input type="text" name="voucher" value="" placeholder="کد کارت هدیه را در اینجا وارد کنید" id="input-voucher" class="form-control">
                                            <span class="input-group-btn">
                                                <input type="submit" value="اعمال کارت هدیه" id="button-voucher" data-loading-text="بارگذاری ..." class="btn btn-primary">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="panel panel-default">
                    <partial name="_Address" />
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="text-right"><strong>جمع کل:</strong></td>
                                    <td class="text-right">@SumOrder.ToString("N0") تومان</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong> تخفیف:</strong></td>
                                    <td class="text-right">@*@Percent.ToString("N0")*@ تومان</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong>مالیات:</strong></td>
                                    <td class="text-right">11880 تومان</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong>کل :</strong></td>
                                    <td class="text-right">@SumOrder.ToString("N0") @*- @Percent*@ تومان</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left"><a asp-controller="Wallet" asp-action="OnlinePayment" class="btn btn-primary">پرداخت آنلاین</a></div>
                    @if (!Model.IsFinally)
                    {
                        @if (_UserPannelService.BalanceWallet(User.Identity.Name) >= SumOrder)
                        {
                            <div class="pull-right">
                                <a href="/UserPannel/Order/FinalOrder/@Model.OrderId" class="btn btn-primary">تسویه حساب از طریق کیف پول</a>
                            </div>
                        }
                        else
                        {
                            <div class="pull-right">
                                <a disabled class="btn btn-primary">  تسویه حساب از طریق کیف پول</a>
                            </div>
                            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>موجودی کیف پول شما کافی نیست. لطفا از طریق <a href="/UserPannel/Wallet" class="alert-link"><strong>لینک شارژ حساب</strong></a> اقدام به شارژ آن کنید</div>
                        }
                    }


                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>


@*@section Scripts{

    <script>
        function Refresh() {
            $("#").change(function () {
                var price = 0;
                var total = 0;
                var count = 0;

                count = parseInt($("#count").val());
                price = parseInt($("#price").val());

                total = price * count;
                
            });
            window.location = window.location.pathname;
            window.location.reload();
        };
    </script>
 }*@