@model MyEMShop.Data.Dtos.UserDto.ShowUserInformationForPannelDto

@{
    ViewData["Title"] = "پنل کاربری";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/LogOut">خروج</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <aside id="column-right" class="col-sm-9 hidden-xs">
                <h3 class="subtitle">حساب کاربری</h3>
                <div class="list-group">
                    <ul>
                        <li>نام : <strong>@Model.Name</strong>  </li>

                        <li>نام خانوادگی : <strong>@Model.Family</strong>  </li>

                        <li>شماره تلفن : <strong>@Model.PhoneNumber</strong> </li>

                        <li>ایمیل : <strong>@Model.Email</strong> </li>

                        <li>استان : <strong>@Model.Ostan</strong> </li>

                        <li>شهر : <strong>@Model.City</strong> </li>

                        <li>کد پستی : <strong>@Model.PostalCode</strong> </li>

                        <li>آدرس : <strong>@Model.Address</strong> </li>

                        <li>تاریخ ثبت نام : <strong>@Model.RegisterDate.ToShamsi()</strong> </li>

                        <li>موجودی کیف پول : <strong class="text-success">@Model.Wallet.ToString("N0")  تومان</strong> </li>
                    </ul>
                </div>
            </aside>

            <!--Middle Part End -->
            <!--Right Part Start -->
            <partial name="_SideBar" />
            <!--Right Part End -->
        </div>
    </div>
</div>
