@using MyEMShop.Application.Interfaces;
@using MyEMShop.Data.Entities.ContactUs
@inject IContactUsInfoService _contact
@{
    var contactus = _contact.GetContactUsInfo();
}
<div class="row">
    <div class="col-sm-3"><img src="/Template/image/ContactUsInfo/@contactus.ContactUsImage" alt=" به دخت" title="به دخت" class="img-thumbnail"></div>
    <div class="col-sm-3">
        <strong>آدرس ما</strong><br>
        <address>
            @contactus.ContactUsOstanCity،<br>
            @contactus.ContactUsAddress،<br>
             پلاک @contactus.ContactUsPelak،<br>
        </address>
    </div>
    <div class="col-sm-3">
        <strong>شماره تلفن</strong><br>
        @contactus.ContactUsPhone<br>
    </div>
    <div class="col-sm-3">
        <strong>ساعات کار</strong><br>
        @contactus.ContactUsWorkTime<br>
        <br>
        <strong>توضیحات اضافه</strong><br>
        @contactus.ContactUsDesc
    </div>
</div>
