@model MyEMShop.Data.Dtos.ProductDto.ShowProductForIndex
<div class="product-layout product-list col-xs-12">
    <div class="product-thumb">
        <div class="image"><a href="/ShowProduct/@Model.ProductId/@Model.ProductTitle.Trim().Replace(" ","-")"><img src="/Template/image/product/MainPicThumbnail/@Model.MainImageProduct" style="width:220px;height:330px" alt="@Model.ProductTitle.Trim().Replace(" ","-")" title="@Model.ProductTitle.Trim().Replace(" ","-")" class="img-responsive"></a></div>
        <div class="caption">
            <h4><a href="/ShowProduct/@Model.ProductId/@Model.ProductTitle.Trim().Replace(" ","-")">@Model.ProductTitle</a></h4>
            <p class="price">
                @{
                    int newprice = Model.ProductPrice - (Model.ProductPrice * Model.Save / 100);
                }
                @if (Model.PL_Id == 1)
                {
                    @if (Model.Save != 0)
                    {
                        <span class="price-old">@Model.ProductPrice.ToString("N0") تومان</span>
                        <span class="price-new">@newprice.ToString("N0") تومان</span>
                        <span class="saving">@Model.Save %</span>
                    }
                    else
                    {
                        <span class="price-new">@Model.ProductPrice.ToString("N0") تومان</span>
                    }
                }
                else
                {

                }
                
            </p>

        </div>
        <div class="button-group">
            @if (Model.PL_Id == 1)
            {
                <a asp-controller="Search" asp-action="BuyProduct" asp-route-id="@Model.ProductId" class="btn-primary" type="button"><span>افزودن به سبد</span></a>
            }
            else
            {

            }
            
            <div class="add-to-links" style="padding-top:10px;">

                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-area="UserPannel" asp-controller="Favorite" asp-action="AddToFavorite" asp-route-productId="@Model.ProductId" type="button" data-toggle="tooltip" data-original-title="افزودن به علاقه مندی"><i class="fa fa-heart"></i></a>
                }
                else
                {
                    <a disabled  data-toggle="tooltip" title="افزودن به علاقه مندی ها"><i class="fa fa-heart"></i></a>
                }
            </div>
        </div>
    </div>
</div>
