@using MyEMShop.Application.Interfaces;
@using MyEMShop.Data.Entities.Faq
@model List<Faq>
@inject IFaqGroupService _faqgroup
@{
    ViewData["Title"] = "سوالات متداول";
    List<FaqGroup> faqgroup = _faqgroup.GetFaqGroups();
}
@section MetaTag
    {
    <meta property=og:description content=" @ViewData["Title"] _ فروشگاه پوشاک زنانه به دخت">
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/FAQ">سوالات متداول</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">راهنما و سوالات متداول</h1>

                @foreach (var item in faqgroup)
                {
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <h3><strong>@item.FaqGroupTitle</strong></h3>
                            </div>
                            <hr>

                            <div class="col-sm-9">
                                @foreach (var item1 in Model.Where(p => p.FaqGroup.FaqGroupTitle == item.FaqGroupTitle))
                                {
                                    <div class="faq">
                                        <div>
                                            <a href="#@item1.FaqAnswer" data-parent="#accordion" data-toggle="collapse" class="panel-title">@item1.FaqQuestion <i class="fa fa-caret-down"></i></a>
                                            <div id="@item1.FaqAnswer" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    @item1.FaqAnswer
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>





