@page
@using MyEMShop.Data.Entities.Permission;
@model MyEMShop.EndPoint.Pages.Admin.Roles.CreateRoleModel
@{
    ViewData["Title"] = "افزودن نقش";
    IList<Permission> permissions = ViewData["Permission"] as IList<Permission>;
}
<div id="page-wrapper">
    <div class="row">
        <form method="post">
            <div class="col-lg-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        اطلاعات نقش
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>عنوان نقش</label>
                            <input type="text" asp-for="Role.RoleTitle" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">ثبت نقش جدید</button>

                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        دسترسی های نقش
                    </div>
                    <div class="panel-body">
                        <ul>
                            @foreach (var permission in permissions.Where(p=> p.ParentId is null))
                            {
                                <input type="checkbox" name="SelectedPermission" value="@permission.PermissionId"/>@permission.PermissionTitle
                                @if (permissions.Any(p=> p.ParentId == permission.ParentId))
                                {
                                    <ul>
                                        @foreach (var Sub in permissions.Where(p=> p.ParentId == permission.PermissionId))
                                        {
                                            <li>
                                                <input type="checkbox" name="SelectedPermission" value="@Sub.PermissionId" />@Sub.PermissionTitle
                                                @if (permissions.Any(p=> p.ParentId == Sub.ParentId))
                                                {
                                                    <ul>
                                                        @foreach (var Sub2 in permissions.Where(p=>p.ParentId == Sub.PermissionId))
                                                        {
                                                            <li>
                                                                <input type="checkbox" name="SelectedPermission" value="@Sub2.PermissionId" />@Sub2.PermissionTitle
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </ul>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

