@using MyEMShop.Common
@using MyEMShop.Data.Dtos.UserDto
@model MyEMShop.Data.Dtos.UserDto.ChargeWalletDto
@{
    ViewData["Title"] = "عملیات کیف پول";
}



<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/LogOut">خروج</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <!--Middle Part End -->
            <div>
                <aside class="col-sm-9">
                    <h2 class="subtitle">عملیات شارژ کیف پول</h2>
                    <p><strong>شارژ کیف پول</strong></p>
                    <form class="form-horizontal" method="post">

                        <div class="form-group ">
                            <label asp-for="Amount" class="control-label">مبلغ(تومان)</label>
                            <input asp-for="Amount" type="number" name="amount" value="" placeholder="مبلغ به تومان" id="amount" class="form-control">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <input type="submit" value="شارژ کیف پول" class="btn btn-primary">
                    </form>
                    <hr />
                    @{
                        Tuple<List<ShowWalletDto>, int> list = ViewBag.Wallets as Tuple<List<ShowWalletDto>, int>;
                    }
                    <p><strong>تاریخچه ی کیف پول</strong></p>

                    <div class="table-responsive" id="Submit">

                        <table  class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">مبلغ</th>
                                    <th class="text-center">تاریخ</th>
                                    <th class="text-center">نوع تراکنش</th>
                                    <th class="text-center">شرح تراکنش</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in list.Item1)
                                {
                                    <tr>
                                        <td class="text-center"><strong>@item.Amount.ToString("#,0 تومان")</strong></td>
                                        <td class="text-center">@item.CreateDate.ToShamsi()</td>
                                        <td class="text-center">
                                            @if (item.TypeId == 1)
                                            {
                                                <div class="alert-success">
                                                    <p class="text-success">واریز</p>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="alert-danger">
                                                    <p class="text-danger"> برداشت</p>
                                                </div>

                                            }
                                        </td>
                                        <td class="text-center">


                                            @{
                                                string TagHref = $"<a href ='/UserPannel/Order/ShowOrder/{item.Description.Replace("فاکتور شماره ی #", "")}'>#</a>";
                                            }
                                            @Html.Raw(item.Description.Replace("#",TagHref))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </aside>

            </div>



            <!--Right Part Start -->
            <partial name="_SideBar" />
            <!--Right Part End -->
        </div>
        <nav  aria-label="...">
            <ul class="pagination">
                @for (int i = 1; i <= (list.Item2 + 1); i++)
                {
                   <li class="@((ViewBag.pageid == i)?"active": "")"><a href="/UserPannel/Wallet?pageId=@i">@i<span class="sr-only">(current)</span></a></li>
                }
            </ul>
        </nav>
    </div>
</div>


