@using MyEMShop.Data.Dtos.ProductDto
@model Tuple<List<ShowMyFavoriteProductDto>,int>
@{
    ViewData["Title"] = "لیست علاقه مندی ها";
}
@section MetaTag
    {
    <meta property=og:description content=" @ViewData["Title"] _ فروشگاه پوشاک زنانه به دخت">
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="LogOut">خروج</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">لیست آرزوی من</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">تصویر</td>
                                <td class="text-left">نام محصول</td>
                                <td class="text-right">قیمت واحد</td>
                                <td class="text-right">عملیات</td>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Item1)
                            {
                                <tr>
                                    <td class="text-center"><a href="/ShowProduct/@item.ProductId/@item.ProductTitle.Trim().Replace(" ","-")"><img src="/Template/image/product/MiniPic/@item.MainImageProduct" alt="@item.ProductTitle" title="@item.ProductTitle"></a></td>
                                    <td class="text-left"><a href="/ShowProduct/@item.ProductId/@item.ProductTitle.Trim().Replace(" ","-")">@item.ProductTitle</a></td>
                                    <td class="text-right">
                                        <div class="price">
                                            @{
                                                int newprice = item.ProductPrice - (item.ProductPrice * item.Save / 100);
                                            }
                                            @if (item.Save != 0)
                                            {
                                                <span class="price-old">@item.ProductPrice.ToString("N0") تومان</span>
                                                <span class="price-new">@newprice.ToString("N0") تومان</span>
                                                <span class="saving">@item.Save %</span>
                                            }
                                            else
                                            {
                                                <span class="price-new">@item.ProductPrice.ToString("N0") تومان</span>
                                            }
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        @if (item.PL_Id == 1)
                                        {
                                            <a href="/Search/BuyProduct/@item.ProductId" class="btn btn-primary" title="" data-toggle="tooltip" onclick="cart.add('48');" type="button" data-original-title="افزودن به سبد"><i class="fa fa-shopping-cart"></i></a>
                                        }
                                        else if (item.PL_Id == 2)
                                        {
                                            <a class="btn btn-info" style="padding:5px" disabled>ناموجود</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-warning" style="padding:5px" disabled>به زودی...</a>
                                        }
                                        
                                        <a asp-area="UserPannel" asp-controller="Favorite" asp-action="DeleteFromFavorite" asp-route-productid="@item.ProductId" class="btn btn-danger" title="" data-toggle="tooltip" data-original-title="حذف"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <partial name="_SideBar" />
            <!--Right Part End -->
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                @for (int i = 1; i <= (Model.Item2 + 1); i++)
                {
                    <li class="@((ViewBag.pageId == i)?"active":"")"><a href="/UserPannel/Favorite?pageId=@i">@i<span class="sr-only">(current)</span></a></li>
                }
            </ul>
        </nav>
    </div>
</div>

